body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.qr-code-container {
  margin: 30px 0;
  text-align: center;
}

.qr-code-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}